body.content {
    #head, #menu, #map, #pages-nav {
        display: none;
    }
    #page-nav {
        position: fixed;
        z-index: 996;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--test);
        width: 100%;
        height: 100px;
        left: 0;
        a {
            font-family: "Dauphine";
            font-size: 1.5rem;
            line-height: 1.5rem;
            text-decoration: none;
            color: black;
        }
    }
    h1 {
        font-weight: normal;
    }
    #list {
        margin-top: 0;
        img, .text {
            margin-top: 50px;
        }
        img {
            width: 100%;
        }
        .text {
            width: 100%;
            p {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    }
}
