:root {
    font-family: 'Quebec';
    font-size: 1rem;
    color: black;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--test);
}
main {
    padding: 100px;
}

//corners
.square {
    width: 150px;
    height: 150px;
    position: fixed;
    z-index: 997;
    padding: 0;
    margin: 0;
}
#square1, #square2 {
    border-top: 15px solid black;
}
#square3, #square4 {
    border-bottom: 15px solid black;
}
#square1, #square3 {
    border-left: 15px solid black;
}
#square2, #square4 {
    border-right: 15px solid black;
}
#square2 {
    pointer-events: none;
}

//head scroller
#head {
    width: calc(100% - 200px);
    padding: 100px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 995;
    background-color: var(--test);
    h1 {
        font-family: 'Quebec Bold';
        font-size: 2rem;
        line-height: 1;
        height: 100%;
        display: inline-block;
        border: 4px solid black;
        padding: 10px 20px 20px 20px;
    }
    nav {
        display: flex;
        flex-direction: row;
        button {
        font-family: "Quebec Bold";
        font-size: 2rem;
        padding: 0 20px 17px 20px;
        background-color: black;
        color: white;
        }
    }
}

//items list
#list {
    margin-top: 175px;
    .item {
        // font-family: 'Format_1452';
        font-family: 'VG5000';
        font-size: 3.5rem;
        line-height: 3.5rem;
        color: black;
    }
    li {
        padding-bottom: 100px;
        &:last-of-type {
            padding-bottom: 0;
        }
    }
    p {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0;
        padding: 0;
    }
    .small {
        font-size: 1.5rem;
    }
    li a:not(.item) {
        color: blue;
    }
}

//menu (exploration mode)
#pages-nav {
    li {
        position: fixed;
        z-index: 996;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--test);
    }
    li:first-of-type, li:last-of-type {
        width: 100%;
        height: 100px;
    }
    & > ul > li:nth-of-type(2), & > ul > li:nth-of-type(3) {
        width: 100px;
        height: 100%;
    }
    & > ul > li:nth-of-type(2) a {
        transform: rotate(-90deg);
    }
    & > ul > li:nth-of-type(3) a {
        transform: rotate(90deg);
    }
    a {
        font-family: "Dauphine";
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: black;
    }
}

//menu (accessible mode)
#menu {
    background-color: black;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    z-index: 998;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    div {
        font-family: 'Quebec';
        font-size: 1.75rem;
        line-height: 3.5rem;
        color: $green;
        color: white;
    }
    div:first-of-type {
        display: flex;
        width: 13vh;
        padding-top: 50px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    a {
        font-family: "Quebec Bold";
        color: white;
        display: block;
        font-size: 1.75rem;
        line-height: 3.5rem;
    }
    .lang {
        display: inline-block;
    }
    div:last-of-type {
        padding-bottom: 50px;
    }
}

//map
#map {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(100% / 3));
    grid-auto-flow: row;
    justify-content: center;
    div {
        position: relative;
    }
    div div {
        width: 100%;
        height: 100%;
    }
    div::before, div::after, div div::before, div div::after {
        content: "";
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
    }
    div::before, div div::before {
        margin-bottom: -32px;
    }
    div::after, div div::after {
        margin-top: -32px;
    }
    div div::before, div div::after {
        left: calc(100% - 32px);
    }
    div::before {
        border-left: 2px solid $green;
        border-top: 2px solid $green;
    }
    div div::before {
        border-left: none;
        border-right: 2px solid $green;
        border-top: 2px solid $green;
    }
    div::after {
        border-left: 2px solid $green;
        border-bottom: 2px solid $green;
    }
    div div::after {
        border-left: none;
        border-right: 2px solid $green;
        border-bottom: 2px solid $green;
    }
    a:not(#cross) {
        text-align: center;
        display: block;
        color: white;
        font-family: 'Quebec Bold';
        font-size: 2rem;
        width: 100%;
        height: 100%;
        line-height: calc(100vh / 3);
        &:hover, &:focus, &:active {
            color: black;
            background-color: $green;
        }
    }
}

//global
#cross {
    position: absolute;
    margin: 10px 20px 20px 20px;
    font-size: 30px !important;
    font-weight: 700;
    line-height: 1 !important;
    color: white;
    background-color: transparent;
    z-index: 999;
}
.hide {
    display: none !important;
}
.top {
    top: 0;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.bottom {
    bottom: 0;
}
.current {
    background-color: $green;
}
button {
    border: none;
    cursor: pointer;
    padding: 0;
}
a {
    text-decoration: none;
}

@media (max-width: 800px), (max-height: 800px) {
    main {
        padding: 50px;
    }
    .square {
        width: 100px;
        height: 100px;
    }
    #square1, #square2 {
        border-top: 10px solid black;
    }
    #square3, #square4 {
        border-bottom: 10px solid black;
    }
    #square1, #square3 {
        border-left: 10px solid black;
    }
    #square2, #square4 {
        border-right: 10px solid black;
    }
    #head {
        width: calc(100% - 100px);
        padding: 50px 50px 0 50px;
        h1 {
            font-size: 1.25rem;
            padding: 10px 10px 17px 10px;
        }
        nav {
            button {
                font-size: 1.25rem;
                line-height: 1;
                padding: 15px 10px 20px 10px;
                &:first-of-type {
                    margin-right: 0px;
                }
            }
        }
    }
    #pages-nav {
        li:first-of-type, li:last-of-type {
            height: 50px;
        }
        & > ul > li:nth-of-type(2), & > ul > li:nth-of-type(3) {
            width: 50px;
        }
        a {
            font-size: 1rem;
            line-height: 1rem;
        }
    }
    #list {
        margin-top: 100px;
        .item {
            font-size: 2.75rem;
            line-height: 3rem;
        }
        li {
            padding-bottom: 50px;
        }
        a, p {
            line-height: 2rem;
        }
        a {
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
        }
        .small {
            font-size: 1rem;
        }
    }
    #menu {
        width: 25%;
        div, a {
            font-size: 1.75rem;
            line-height: 3.5rem;
        }
        div:first-of-type {
            width: 13vh;
        }
    }
}

@media (max-width: 767px) and (orientation: portrait) {
    #menu {
        width: 100%;
        div, a {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }
    #map a:not(#cross) {
        font-size: 1.5rem;
    }
}
@media (min-width: 768px) and (orientation: portrait) {
    #menu {
        width: 35%;
    }
}
@media (max-width: 1280px) and (orientation: landscape) {
    #menu {
        div, a {
            line-height: 3rem;
        }
    }
}
@media (max-height: 767px) and (orientation: landscape) {
    #menu {
        div, a {
            font-size: 1rem;
            line-height: 1.25rem;
        }
        div:first-of-type {
            padding-top: 25px;
        }
        div:last-of-type {
            padding-bottom: 25px;
        }
    }
}
