  @font-face {
    font-family: 'Commune';
    src: url('../fonts/commune.woff2?v=2.020') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Commune Pochoir';
    src: url('../fonts/commune_pochoir.woff2?v=2.020') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Dauphine';
    src: url('../fonts/dauphine.woff2?v=2.020') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Format_1452';
    src: url('../fonts/format_1452.woff2?v=2.020') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nanook';
    src: url('../fonts/nanook.woff2?v=2.020') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nanook Bold';
    src: url('../fonts/nanook.woff2?v=2.020') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  // @font-face {
  //   font-family: 'VG5000';
  //   src: url('../fonts/vg5000.woff2?v=2.020') format('woff2');
  //   font-weight: 400;
  //   font-style: normal;
  // }

  @font-face {
    font-family: 'Quebec';
    src: url('../fonts/quebec.woff2?v=2.020') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Quebec Bold';
    src: url('../fonts/quebec_bold.woff2?v=2.020') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Quebec Italic';
    src: url('../fonts/quebec_ital.woff2?v=2.020') format('woff2');
    font-weight: 400;
    font-style: italic;
  }
