{% extends 'partials/base.html.twig' %}

{% block page %}
<main>
    <div id="head">
        <h1>{{ page.title }}</h1>
        <nav>
            <a href="">Menu</a>
        </nav>
    </div>
{% block content %}
{% endblock %}
</main>
<div id="menu" class="hide">
    <a href="" id="cross">✕</a>
    <div>
        <img src="{{ url('theme://images/logo.svg') }}"/>
    </div>
    <div>
        <a href="" class="lang">FR</a> / <a href="" class="lang">EN</a>
        <a href="">Plan du site</a>
    </div>
    <div>
        <a href="">News</a>
        <a href="">Agenda</a>
        <a href="">Lieux</a>
        <a href="">Projets</a>
        <a href="">Archives</a>
        <a href="">À Propos</a>
        <a href="">Page</a>
        <a href="">Page</a>
        <a href="">Contact</a>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% endblock %}
