{% extends 'partials/base.html.twig' %}

{% block page %}
<main>
    <div id="square1" class="square top left">
    </div>
    <div id="square2" class="square top right">
    </div>
    <div id="square3" class="square bottom left">
    </div>
    <div id="square4" class="square bottom right">
    </div>
    <div id="head" class="top left">
        <h1>{{ page.title }}</h1>
        <nav>
            <a href="" id="menu-toggler">Menu</a>
            <a href="" id="map-toggler">Map</a>
        </nav>
    </div>
{% block content %}
{% endblock %}
</main>
<nav id="pages-nav">
    <ul>
        <li class="top">
            <a href="">Page</a>
        </li>
        <li class=" top left">
            <a href="">Page</a>
        </li>
        <li class="top right">
            <a href="">Page</a>
        </li>
        <li class="bottom">
            <a href="">Page</a>
        </li>
    </ul>
</nav>
<div id="menu" class="hide">
    <a href="" id="cross" class="top right">✕</a>
    <div>
        <img src="{{ url('theme://images/logo.svg') }}"/>
    </div>
    <div>
        <a href="" class="lang">FR</a> / <a href="" class="lang">EN</a>
        <a href="">Plan du site</a>
    </div>
    <div class="bottom">
        <a href="/news">News</a>
        <a href="/agenda">Agenda</a>
        <a href="">Lieux</a>
        <a href="/projets">Projets</a>
        <a href="">Archives</a>
        <a href="">À Propos</a>
        <a href="">Page</a>
        <a href="">Page</a>
        <a href="">Contact</a>
    </div>
</div>
<div id="map" class="hide">
    <a href="" id="cross" class="top right">✕</a>
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% endblock %}
