{% extends 'default.html.twig' %}
{% set color = page.header.currentColor %}
{% block content %}
    <div id="list">
        <ul>
        {% block list %}
        {% include 'partials/list.html.twig' with { collection: page.collection } %}
        {% endblock %}
        </ul>
    </div>
{% endblock %}
